// 盒子布局
.flex {
  display: flex;
}

@each $direction, $value in $flex-directions {
  .flex-#{$direction} {
    @extend .flex;
    flex-direction: $value;
  }
}

// 行内块盒子
.flex-inline {
  display: inline-flex;
}

// 指定元素在一行/列内的排列，是收缩或溢出，还是换行
.flex-wrap {
  flex-wrap: wrap;

  &-reverse {
    flex-wrap: wrap-reverse;
  }
}

// 主轴元素分布
@each $content, $value in $flex-main-contents {
  .main-content-#{$content} {
    justify-content: $value;
  }
}

// 交叉轴元素分布，对单行弹性盒子无效
@each $content, $value in $flex-cross-contents {
  .cross-content-#{$content} {
    align-content: $value;
  }
}

// 交叉轴元素对齐
@each $align, $value in $flex-cross-aligns {
  .cross-items-#{$align} {
    align-items: $value;
  }
}

// 盒子子元素空间适配
.flex-item {
  &-stretch { flex: 1 1 0%; }
  &-auto { flex: 1 1 auto; }
  &-none { flex: 0 0 auto; }
}