// 浮动
.float {
  &-left { float: left; }
  &-right { float: right; }
}

// 清除浮动
.clear {
  &fix {
    &::after {
      clear: both;
      content: '';
      display: block;
    }
  }

  &-both { clear: both; }
}
