// 浮动
@each $side, $value in $float-side {
  .float-#{$side} {
    float: $value;
  }
}

// 清除浮动
.clear {
  &fix {
    &::after {
      clear: both;
      content: '';
      display: block;
    }
  }

  &-both {
    clear: both;
  }
}
