// 规格尺寸
@each $size, $value in $text-size {
  .text-#{$size} {
    font-size: $value;
  }
}

// 字号大小
@if $text-size-max > $text-size-min {
  @for $size from $text-size-min through $text-size-max {
    .fs-#{$size} {
      font-size: #{$size}px;
    }
  }
}

// 文本颜色
@each $color, $value in $text-color {
  .text-#{$color} {
    color: $value;
  }
}

// 文本对齐
@each $align in $text-align {
  .text-#{$align} {
    text-align: $align;
  }
}
