// Text
$font-sizes: () !default;
$font-sizes: map-merge(
  (
    'xl': 20px,
    'lg': 18px,
    'md': 16px,
    'sm': 14px,
    'xs': 12px
  ),
  $font-sizes
);

$fs-min: 0 !default;
$fs-max: 0 !default;

$colors: () !default;
$colors: map-merge(
  (
    'primary': #283593,
    'secondary': #757575,
    'warning': #ff6f00,
    'danger': #b71c1c,
    'dark': #212121,
    'gray': #bdbdbd
  ),
  $colors
);

$text-aligns: (
  'center': center,
  'left': left,
  'right': right
) !default;

// Flex
$flex-directions: (
  'row': row,
  'row-reverse': row-reverse,
  'column': column,
  'column-reverse': column-reverse
) !default;

$flex-main-contents: (
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'between': space-between,
  'around': space-around,
  'evenly': space-evenly
) !default;

$flex-cross-contents: (
  'stretch': stretch,
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'between': space-between,
  'around': space-around
) !default;

$flex-cross-aligns: (
  'stretch': stretch,
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'baseline': baseline
) !default;