// line-height
$line-height: 1.5 !default;
// heading
$heading-margin: () !default;
$heading-margin: map-merge(
  (
    'h1': 0,
    'h2': 0,
    'h3': 0,
    'h4': 0,
    'h5': 0,
    'h6': 0
  ),
  $heading-margin
);
// link
$link-color: inherit !default;
$link-hover-color: inherit !default;
$link-decoration: none !default;
$link-hover-decoration: none !default;
// paragraph
$paragraph-margin: 0 !default;
// list
$list-margin: 0 !default;
$list-padding: 0 !default;
$list-item-style: none !default;
// description
$description-margin: 0 !default;
$description-details-margin: 0 !default;

// text
// size
$text-size: () !default;
$text-size: map-merge(
  (
    'xl': 20px,
    'lg': 18px,
    'md': 16px,
    'sm': 14px,
    'xs': 12px
  ),
  $text-size
);
$text-size-min: 0 !default;
$text-size-max: 0 !default;
// color
$text-color: () !default;
// align
$text-align: (
  'center': center,
  'left': left,
  'right': right,
  'justify': justify
) !default;

// float
$float-side: (
  'left': left,
  'right': right,
  'none': none
) !default;

// flex
// direction
$flex-direction: (
  'row': row,
  'row-reverse': row-reverse,
  'column': column,
  'column-reverse': column-reverse
) !default;
// wrap
$flex-wrap: (
  'nowrap': nowrap,
  'wrap': wrap,
  'wrap-reverse': wrap-reverse
) !default;
// justify-content
$main-content: (
  'stretch': stretch,
  'between': space-between,
  'around': space-around,
  'evenly': space-evenly,
  'start': flex-start,
  'end': flex-end,
  'center': center
) !default;
// align-content
$cross-content: (
  'stretch': stretch,
  'between': space-between,
  'around': space-around,
  'evenly': space-evenly,
  'start': flex-start,
  'end': flex-end,
  'center': center
) !default;
// align-items
$cross-items: (
  'stretch': stretch,
  'baseline': baseline,
  'start': flex-start,
  'end': flex-end,
  'center': center
) !default;
